@keyframes ldio-bsopsbkxidh {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.ldio-bsopsbkxidh div {
  box-sizing: border-box !important
}

.ldio-bsopsbkxidh>div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #07abcc transparent #07abcc transparent;
  animation: ldio-bsopsbkxidh 3.0303030303030303s linear infinite;
}

.ldio-bsopsbkxidh>div:nth-child(2),
.ldio-bsopsbkxidh>div:nth-child(4) {
  width: 54px;
  height: 54px;
  top: 23px;
  left: 23px;
  animation: ldio-bsopsbkxidh 3.0303030303030303s linear infinite reverse;
}

.ldio-bsopsbkxidh>div:nth-child(2) {
  border-color: transparent #df1317 transparent #df1317
}

.ldio-bsopsbkxidh>div:nth-child(3) {
  border-color: transparent
}

.ldio-bsopsbkxidh>div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-bsopsbkxidh>div:nth-child(3) div:before,
.ldio-bsopsbkxidh>div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #07abcc;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #07abcc;
}

.ldio-bsopsbkxidh>div:nth-child(3) div:after {
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #07abcc;
}

.ldio-bsopsbkxidh>div:nth-child(4) {
  border-color: transparent;
}

.ldio-bsopsbkxidh>div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-bsopsbkxidh>div:nth-child(4) div:before,
.ldio-bsopsbkxidh>div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 15px;
  background: #df1317;
  border-radius: 50%;
  box-shadow: 0 46px 0 0 #df1317;
}

.ldio-bsopsbkxidh>div:nth-child(4) div:after {
  left: -8px;
  top: 15px;
  box-shadow: 46px 0 0 0 #df1317;
}

.loadingio-spinner-double-ring-9277h4uuc6a {
  width: 51px;
  height: 51px;
  display: inline-block;
  overflow: hidden;
}

.ldio-bsopsbkxidh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-bsopsbkxidh div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */